@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Supernormal";
  src: url("/fonts/supernormal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
